<!-- views/pages/superheroes.ejs -->

<head>
    <title>HTML TEST</title>
    <style>
        h1 {
            color: red;
        }
    </style>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    super hero
    <h2>hero h2</h2>
    <h3>hero h2 3</h3>
    <p> 2 > 3 asdfsadfasdfasdfasdfasdfasdfaaaaaaaaaaaaaafasfsdfojosdfonaosfosdfonasdofnsodnfosanfofoasdfonasodfnsonfosan
        2 > 3 asdfsadfasdfasd</p>
    <img src="error.png" width="320" height="100" alt="error">
    fasdfasdfasdf<strong>aaaaaaaaaaaa</strong><br>aafasfsdfojosdfonaosfosdfonasdofnsodnfosanfofoasdfonasodfnsonfosanaosdfoasfdosofjosf
    <h3>hero h2 3</h3>
    2 > 32 > 3
    asdfsadfasdfasdfasdfasdfasdfaaaaaaaaaaaaaafasfsdfojosdfonaosfosdfonasdofnsodnfosanfofoasdfonasodfnsonfosan 2 > 3
    asdfsadfasdfasdfasdfasdfasdfaaaaaaaaaaaaaafasfsdfojosdfonaosfosdfonasdofnsodnfosanfofoasdfonasodfnsonfosanaosdfoasfdosofjosf
    <ul>
        <li><a href="#345">123</a></li>
        <li>123l
            <ol>
                <li><a href="redirect.html">asdf</a> </li>
                <li>asdf</li>
            </ol>
        </li>
        <li><a href="../../error.png"> 123</a></li>
    </ul>
    <ol>
        <li id="345">345</li>
        <li>345</li>
        <li>345</li>
    </ol>
    <dl>
        <dt>what?</dt>
        <dl>dl explain bra bra bra</dl>
        <dt>what?</dt>
        <dl>dl explain bra bra bra</dl>
    </dl>

    <h2>hero h2 a</h2>
    explain
    <h3>hero h3</h3>
</body>lain
<h3>hero h3</h3>
</body>